$img-width-and-height: 170px;
$play-button-width-height: 70px;

.viewall-container {
  background-image: linear-gradient(to bottom right, #e5846e, #856170);
  color: white;
  border-radius: 30px;
  padding: 30px 40px;
  display: flex;
  .viewall-img-container {
    background-image: linear-gradient(to bottom right, #846271, #70919b);
    width: $img-width-and-height;
    height: $img-width-and-height;
    position: relative;
    .viewall-img {
      width: $img-width-and-height;
      height: $img-width-and-height;
    }
    .play-button {
      height: $play-button-width-height;
      width: $play-button-width-height;
      display: inline-block;
      border: none;
      outline: none;
      position: absolute;
      top: 28%;
      left: 31%;
    }

    &:hover .play-button {
      display: inline-block;
    }

    .play {
      background: url('https://rainymood.com/i/play4.png');
      background-size: $play-button-width-height $play-button-width-height;
    }

    .pause {
      background: url('https://rainymood.com/i/pause4.png');
      background-size: $play-button-width-height $play-button-width-height;
    }
    div {
      display: inline-block;
      width: 84%;
      margin-top: 5px;
    }
  }
  .viewall-cards-container {
    width: 71%;
    margin-left: 24px;
    height: 170px;
    overflow-y: scroll;
    .viewall-cards {
      padding: 8px 0;
      border-bottom: 1px solid white;
      display: flex;
      position: relative;
      .viewall-uploader {
        color: #f2dcd8;
      }
      .viewall-dash {
        display: inline-block;
        margin: 0 5px;
      }
      .viewall-title {
        display: inline-block;
        width: 285px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .viewall-timesplayed {
        position: absolute;
        right: 5px;
      }
    }
  }
}
