.form-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: block;
    color: black;
    label {
      p {
        font-size: 25px;
      }
      display: block;
    }
  }
}
