.form-container {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-image: linear-gradient(to bottom right, #e5846e, #856170);
  form {
    display: block;
    padding: 30px;
    color: white;

    .sound-thumbnail-input-container {
      display: inline-block;
    }
    .thumb {
      overflow: hidden;
      height: 200px;
      width: 200px;
      position: relative;
      background-image: linear-gradient(to bottom right, #846271, #70929c);
      justify-content: center;
      align-items: center;
      display: flex;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      button {
        position: absolute;
        left: 25%;
        bottom: 15%;
        color: black;
      }
    }
    .type-label {
      display: block;
      margin: 0px 100px;
      margin-top: 15px;
      span {
        margin: 0 10px;
      }
    }
    label {
      p {
        font-size: 15px;
        #replace-image-button {
          margin: 5px 46px;
          color: black;
        }
        #upload-thumbnail {
          display: none;
        }
      }
    }
    .title-description-container {
      display: inline-block;
    }
    .decision-buttons-container {
      margin: 20px 0;
      position: relative;
      .save-cancel-button-container {
        display: inline-block;
        position: absolute;
        right: 1px;
        #cancel-button {
          margin: 0 5px;
          border: none;
          background: transparent;
        }
        #save-button {
          background: rgb(75, 194, 75);
          padding: 3px 10px;
          color: white;
          border: none;
          border-radius: 5px;
        }
      }
    }
  }
  .visible {
    display: block;
  }
  .invisible {
    display: none;
  }
  #description-input {
    resize: none;
    width: 100%;
    height: auto;
    color: black;
  }

  #title-input {
    width: 90%;
    color: black;
  }
  .required-field {
    color: orange;
  }
}
